# ベースの依存関係を読み込む
-r ../requirements-base.txt

# Chapter 04で使用するパッケージ
langchain-core==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
langchain-text-splitters==0.3.0
langchain-chroma==0.1.4
GitPython==3.1.43
chromadb==0.5.23
langsmith==0.1.147