# ベースの依存関係を読み込む
-r ../requirements-base.txt

# Chapter 07で使用するパッケージ
langchain-core==0.2.30
langchain-openai==0.1.21
langchain-community==0.2.11
langchain-text-splitters==0.2.2
ragas==0.1.14
nest-asyncio==1.6.0